.AppointmentForm{

	p {
		margin-top: -20px;
		margin-bottom: 24px;
	}

	.flex-wrap {
		align-items: flex-start;
	}

	form {
		max-width: $width-5;
		label {
			text-transform: capitalize;
		}
		legend,
		label {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 6px;
			display: block;

		}
		legend {
			margin-bottom: 15px;
		}
		input[type=text], textarea {
			display: block;
			border: 1px solid #192F51;
			border-radius: 5px;
			width: 100%;
			background: #FFFFFF;
			padding: 11px 5px;
			margin-bottom: 20px;

		}
		input[type=checkbox] {
			margin-right: 4px;
		}
		input[type=submit] {
			font-weight: 700;
			font-size: 18px;
			line-height: 28px;
			padding: 11px 106px;
		}
		ul {
			margin: 0;
			list-style: none;
		}
		
		label.checkbox {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			margin-left: 5px;

			input{
				margin-right: 5px;
			}
		}
		textarea {
			margin-bottom: 40px;
			display: block;
		}
		fieldset div{
			display: flex;
			gap: 5px;
			align-items: center;
			margin-bottom: 20px;

			label {
				margin: 0;
			}
		}
	}
	.featured-image {
		max-width: $width-5;
		position: sticky;
		top: 40px;
	}
}