.AppointmentForm{
	padding-top: 100px;

	form {
		max-width: $width-5;

		label {
			font-size: 20px;
			font-weight: 700;
		}
		input[type=text], input[type=textarea] {
			display: block;
			border: 1px solid #192F51;
			border-radius: 5px;
			width: 100%;
			background: #FFFFFF;
			padding: 11px 5px;
			margin-bottom: 20px;

		}
		input[type=submit] {
			font-weight: 700;
			font-size: 18px;
			line-height: 28px;
			padding: 11px 106px;
		}
		ul {
			margin: 0;
		}
		.radio {
			margin-bottom: 20px;
		}
		.radio label {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}
	}
	.featured-image {
		max-width: $width-5;
	}
}