.FAQ {

	h1 {text-align: center;}

	h2 {text-align: center; margin-bottom: 60px;}

	details{
		background: #FFFFFF;
		border: 1px solid rgba(0, 151, 181, 0.21);
		border-radius: 4px;
		filter: drop-shadow(8px 8px 32px rgba(25, 47, 81, 0.11));
		padding: 38px 56px 28px;
		position: relative;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: -0.015em;
		max-width: 940px;
    margin: 0 auto 24px;
	}

	details summary{
		margin-bottom: 10px;
		font-weight: 700;
	}

	details summary::-webkit-details-marker,
	details summary::marker {
	 display: none; 
	 content: "";
	}
	details > summary:after{
		content: "+";
		position: absolute;
		right: 40px;
	}
	details[open] > summary:after {
    content: "-";
    position: absolute;
		right: 40px;
	}
	.btn-primary{
		margin: 60px auto 20px;
	}
}
section.FAQ {
	margin: 0 0 60px;
}