/* Break points */

$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;

$width-12: 1440px;
$width-11: calc( ( 1440px /12) * 11);
$width-10: calc( ( 1440px /12) * 10);
$width-9: calc( ( 1440px /12) * 9);
$width-8: calc( ( 1440px /12) * 8);
$width-7: calc( ( 1440px /12) * 7);
$width-6: calc( ( 1440px /12) * 6);
$width-5: calc( ( 1440px /12) * 5);
$width-4: calc( ( 1440px /12) * 4);
$width-3: calc( ( 1440px /12) * 3);
$width-2: calc( ( 1440px /12) * 2);
$width-1: calc( ( 1440px /12));



$text-color: #192F51;
$theme-blue: #0097B5;
$theme-dark-blue: #163D7A;
$theme-green: #9DC04D;
$theme-light-blue: #ECF8FF;
